name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build
      run: g++ -std=c++17 -O2 -Wall -Wextra -o sysinfo main.cpp cli.cpp systemInfo.cpp health.cpp integrity.cpp
    - name: smoke test
      run: ./sysinfo --help
